
#ifndef __IWLINC_H__
#define __IWLINC_H__

//set one
#define OUTBOUND_PORT   5201
#define INBOUND_PORT    12306
#define IF_TARGET       "wlp7s0"
#define TMP_DEV         "enp0s31f6"
#define FIXED_MASKADDR  "192.168.0.220"

//set two
#define OUTBOUND_PORT   5210
#define INBOUND_PORT    12306
#define IF_TARGET       "wlp2s0"
#define TMP_DEV         "enp0s31f6"
#define FIXED_MASKADDR  "192.168.0.221"

#endif //__IWLINC_H__
